<% @contacts.each do |contact| %>
    <form action="/remove/<%= contact.id %>" method="get">
        <ul>
            <li>
                <label for="">First Name</label>
                <%= contact.first_name %>
            </li>
            <li>
                <label for="">Last Name</label>
                <%= contact.last_name %>
            </li>
            <li>
                <label for="">Email</label>
                <%= contact.email %>
            </li>
            <li>
                <label for="">Phone Number</label>
                <%= contact.phone_number %>
            </li>
            <li>
                <label for="">Address</label>
                <%= contact.address %>
            </li>
            <div class="">
                <a class="button" href="edit/<%= contact.id %>">Edit Contact </a>
            </div>
            <div class="">
                <button type="submit">Remove</button>
            </div>
        </ul>
    </form>
<% end %>


<a href="/?sort=ascend">Ascend</a>
<a href="/?sort=descend">Descend</a>

<!-- <form action="/" method="get">
    <input type="submit" name="sort" value="ascend">
    <input type="submit" name="sort" value="descend">
</form> -->

<form action="/new" method="post">
    <ul>
        <li>
            <label for="">First Name</label>
            <input type="text" name="first_name" >
        </li>
        <li>
            <label for="">Last Name</label>
            <input type="text" name="last_name" >
        </li>
        <li>
            <label for="">Email</label>
            <input type="text" name="email" >
        </li>
        <li>
            <label for="">Phone Number</label>
            <input type="text" name="phone_number">
        </li>
        <li>
            <label for="">Address</label>
            <input type="text" name="address">
        </li>
    </ul>
    <div class="">
        <button type="submit" name="button">Submit</button>
    </div>
</form>
